.info-content-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: 0.9;
  color: black;
  min-height: 900px;
}

.info-header {
  text-align: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: left;
}

.hours-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: left;
}
