.home-container {
  background-color: white;
  opacity: 0.9;
  color: black;
  padding: 2%;
}

.home-header {
  text-align: center;
  justify-content: center;
  padding-top: 1%;
}

.home-intro {
  padding: 2%;
  margin-left: 25px;
  margin-right: 25px;
}

.home-opener {
  padding-left: 4%;
  margin-bottom: 1%;
}
